html, body {
    margin 0
}

body {
    max-width: 700px
    box-sizing: border-box;
    font-family: 'Noto Serif SC', serif;
    font-size: 15pt;
    margin: 0 auto;
    color: #333;
}

h1, h2, h3, h4, h5 {
    margin: 0
}

p {
    line-height: 2;
}

a {
    text-decoration none
}

#main {
    padding: 1vw 0;
}

.site-header {
    padding: 20pt 0 40pt;

    .site-logo {
        color: black;
        font-weight: bold
    }
}

.site-footer {
    text-align: center}